* {
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-margin-bottom: 0;
}

div {
  display: flex;
  flex-direction: column;
  width: 35vw;
}

div h1 {
  color: aliceblue;
  margin: 2rem;
  font-size: 3rem;
  align-self: center;
  font-family: fantasy;
  font-style: italic;
}

div img {
    width: 30vw;
    align-self: center;
}

div p {
  margin-top: 1rem;
}

div a {
  margin-top: 1rem;
  font-size: 20px;
}

.description {
  font-size: 20px;
  color: white;
}

.developerClass {
  color: brown;
  font-size: 30px
}